{% extends "template.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <h1><a name='header-n0' class='md-header-anchor '></a>Story-Teller</h1>
    <h1><a name='header-n2' class='md-header-anchor '></a>Hackathon project for HackDuke</h1>
    <h2><a name='header-n3' class='md-header-anchor '></a>Inspiration</h2>
    <p>In a time when students get distracted by their mobile phones, and have started neglected reading books, it is of utmost importance that we reintroduce the magic of books to young children. Accustomed to having visual feedback instantly, many
        young children find reading texts difficult, as they often find it mundane.</p>
    <h2><a name='header-n5' class='md-header-anchor '></a>What it does</h2>
    <p>The application basically uses Deep Learning tools for Computer Vision and Natural Language Processing to provide contextual images for each paragraph in a book. It tries to ensure that while reading a book, children get some kind of visual
        feedback, that could help nurture their imagination as well as make the hobby of reading interesting again.</p>
    <p><strong><em>1. User proceeds through the book paragraph by paragraph.</em></strong></p>
    <p><strong><em>2. Each sentence in a paragraph has associated images, if they are crucial for reference.</em></strong></p>
    <p><strong><em>3. User proceeds to next paragraph using the Next button.</em></strong></p>
    <h2><a name='header-n10' class='md-header-anchor '></a>How I built it</h2>
    <ul>
        <li>The back-end was built using <strong>Python</strong> and the REST API were written using <strong>Flask</strong>.</li>
        <li><strong>Google Cloud Platform Natural Language API</strong> was used to identify the key words in each sentence of the text.</li>
        <li><strong>Google Custom Search API</strong> was used to search images based on the key words that were extracted from the text, guided by the domain of the book.</li>
        <li><strong>Google Cloud Platform Cloud Vision API</strong> was used to obtain image characteristics like <strong>web tags and color information from images</strong>.</li>
        <li><strong>Web Page</strong> was developed using <strong>HTML5, CSS3, jQuery and Bootstrap.</strong></li>
    </ul>
    <h2><a name='header-n22' class='md-header-anchor '></a>Challenges I ran into</h2>
    <ol start=''>
        <li><strong>Fixing the errors inherent in Natural Language Processing</strong>. A lot of time was spent just to make sure the correct keywords were identified, but like any other <strong>Neural Network Algorithm</strong>, it <strong>can
                never be
                perfect</strong>.</li>
        <li><strong>Reducing the amount of time it takes to search for images</strong> using the API was a big task. I minimized the number of API calls on the backend to a <strong>balance between latency and accuracy.</strong></li>
        <li>Handling asynchronous and synchronous calls to the REST API I developed was really difficult. Many <strong>issues on the front end rose out of managing these calls to backend API</strong>.</li>
    </ol>
    <h2><a name='header-n30' class='md-header-anchor '></a>Accomplishments that I am proud of</h2>
    <ol start='2'>
        <li>I was able to <strong>integrate 3 different Google Cloud Platform API&#39;s</strong> together to make the app work!</li>
        <li>I was able to get <strong>fairly decent results when it comes to fetching relevant images from the text</strong>.</li>
        <li>This was the <strong>first time</strong> I have used <strong>Google Cloud Platform</strong> to <strong>develop an app</strong>!</li>
    </ol>
    <h2><a name='header-n38' class='md-header-anchor '></a>What I learned</h2>
    <ol start=''>
        <li>This is the first time I used <strong>Flask</strong>, so <strong>Beginner Badge</strong> earned over 24 hours!</li>
        <li>How to build <strong>Machine Learning driven Web Apps</strong>.</li>
        <li>How to setup <strong>Google Custom Search Engine for my own apps!</strong>.</li>
    </ol>
    <h2><a name='header-n46' class='md-header-anchor '></a>What&#39;s next for Fitness Buddy</h2>
    <ol start=''>
        <li>Improve the performance of my <strong>Natural Language logic</strong>.</li>
        <li>Include <strong>support for other books!</strong></li>
        <li>Redesign the UI using some intuitive Front-End framework like <strong>Angular or React.</strong></li>
        <li>Improve the <strong>Image Search logic</strong> to <strong>fetch better suited images related to the text</strong>.</li>
    </ol>
</div>
</div>
{% endblock %}
